{% extends "base.html" %}
{% block content %}

<a href="/products/">← Back</a>
<div class="row g-4 mt-2">
  <div class="col-md-5">
    <div class="card p-4">
      <h4>{{product.product_name}}</h4>
      <p><b>Product:</b> {{product.product_number}}</p>
      <p>
        <b>Source:</b> {{product.source_category}} /
        {{product.source_sub_category}}
      </p>
      <p><b>Materials:</b> {{product.materials}}</p>
      <p><b>Color:</b> {{product.product_color}}</p>
      <p>{{product.product_description}}</p>
      {% if product.image_urls %}<img
        class="img-fluid"
        src="{{product.image_urls.0}}"
        onerror="this.style.display='none'"
      />{% endif %}
    </div>
  </div>
  <div class="col-md-7">
    <div class="card p-4">
      {% if product.classification %}
      <h5>Predicted Category</h5>
      <p class="fs-5">
        {{product.classification.predicted_category.breadcrumb}}
      </p>
      <p>Confidence: <b>{{product.classification.confidence_score}}</b></p>
      <h6>Attributes</h6>
      <pre>{{product.classification.attributes}}</pre>
      <h6>Alternatives</h6>
      <pre>{{product.classification.alternatives}}</pre>
      <button
        class="btn btn-success"
        onclick="approveResult({{product.classification.id}})"
      >
        Approve</button
      >{% else %}
      <p>Not classified yet.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
